* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff6b6b;
  --secondary-color: #f9ed69;
  --tertiary-color: #f08a5d;
  --dark-color: #111010;
  --light-color: #f4f4f4;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--light-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: var(--dark-color);
  color: white;
}

.logo {
  font-size: 0.9rem;
  font-weight: 600;
}

.logo span {
  font-size: 1.7rem;
  color: var(--primary-color);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--light-color);
}

ul li a:hover {
  color: var(--primary-color);
}

.icon {
  display: flex;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
}

.icon i:hover {
  color: var(--primary-color);
}
